<header>
  <nav class="navbar navbar-expand-md is-transparent" role="navigation">
    <div class="container">
      <div class="nav-brand">
        <a class="nav-item" href="#"
          ><img
            src="./assets/images/model.jpg"
            alt="Logo"
            style="width: 40px; height: 40px; border-radius: 50%"
        /></a>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainMenu"
        aria-controls="mainMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainMenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item menu">
            <a class="nav-link active" aria-current="page" href="#">About</a>
          </li>
          <li class="nav-item menu">
            <a class="nav-link" href="#">Projects</a>
          </li>
          <li class="nav-item menu">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item social">
            <a class="nav-link" href="#"><i class="bi bi-github"></i></a>
          </li>
          <li class="nav-item social">
            <a class="nav-link" href="#"><i class="bi bi-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
